{%  if pagination.pages > 0 %} 
  <nav role="navigation" class="flex justify-center my-8">
    {%  if pagination.previous %} 
      <a href="{{ pagination.previous.url }}" 
      class="border border-[#9D744D] text-[#9D744D] hover:text-white hover:bg-[#9D744D] px-8 py-3 mx-1 rounded-sm font-medium"
      >{{ pagination.previous.title }}</a>
    {% endif %}
    {%  for part in pagination.parts %} 
      {%  if part.is_link %} 
        <a href="{{ part.url }}" 
        class="border border-[#9D744D] text-[#9D744D] hover:text-white hover:bg-[#9D744D] px-8 py-3 mx-1 rounded-sm font-medium"
        >{{ part.title }}</a>
      {% else %}
        <span class="border border-[#9D744D] text-white bg-[#9D744D] px-8 py-3 mx-1 rounded-sm font-medium">{{ part.title }}</span>
      {% endif %}
    {% endfor %}
    {% if pagination.next %}
      <a href="{{ pagination.next.url }}" 
      class="border border-[#9D744D] text-[#9D744D] hover:text-white hover:bg-[#9D744D] px-8 py-3 mx-1 rounded-sm font-medium"
      >{{ pagination.next.title }}</a>
    {% endif %}
  </nav>
{% endif %}