<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} - {{ shop.name }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">

    <!-- Dynamic Meta Tags -->
    {% if template contains 'product' %}
        <meta name="description" content="{{ product.description | strip_html | truncate: 160 }}">
        <meta property="og:title" content="{{ product.title }} - {{ shop.name }}">
        <meta property="og:description" content="{{ product.description | strip_html | truncate: 160 }}">
        <meta property="og:image" content="{{ product.featured_image | image_url: 'large' }}">
    {% elsif template contains 'collection' %}
        <meta name="description" content="{{ collection.description | strip_html | truncate: 160 }}">
        <meta property="og:title" content="{{ collection.title }} - {{ shop.name }}">
        <meta property="og:description" content="{{ collection.description | strip_html | truncate: 160 }}">
        <meta property="og:image" content="{{ collection.image | image_url: 'large' }}">
    {% else %}
        <meta name="description" content="{{ shop.meta_description }}">
        <meta property="og:title" content="{{ page_title }} - {{ shop.name }}">
        <meta property="og:description" content="{{ shop.meta_description }}">
        <meta property="og:image" content="{{ 'default-logo.png' | asset_url }}">
    {% endif %}

    <!-- Additional Scripts or Styles -->
     
        {{ content_for_header }}

    <!-- Dynamic CSS -->
    {{ 'application.css' |  asset_url |  stylesheet_tag }}
    {{ 'main.css' |  asset_url |  stylesheet_tag }}
    
    <link href="{{ 'swiper-bundle.min.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

    <!-- Dynamic JS -->
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'alpine.min.js' | asset_url }}" defer></script>
    <script src="{{ 'application.js' | asset_url }}" defer></script>

    <!-- Optional: Load conditional scripts for specific sections/pages -->
    {% if template contains 'product' %}
    <script src="{{ 'product.js' | asset_url }}" defer></script>
    {% endif %}

    <!-- Font Awesome Script -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" crossorigin="anonymous"></script>

    

</head>
<body class="bg-[#FAF6EE]">
    {% section 'announcement-bar' %}
    {% section 'header' %}

    <main role="main">
        {{content_for_layout}} 
    </main>

    {% section 'footer' %}
</body>
</html>
