<style>
  .social-cons svg path{ color: #9D744D;}
  .card-info svg{ color: #FAF6EE; font-size: 25px;}
</style>

<div class="card-info bg-[#9D744D] py-12">
  <div class="max-w-[1600px] mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
        <div class="flex items-center gap-4">
          <i class="fa-solid fa-truck-fast"></i>
          <div class="">
            <h2 class="text-lg font-medium text-[#FAF6EE]">Free Shipping</h2>
            <p class="text-base font-normal text-[#FAF6EE]">Free Shipping for order $200+</p>
          </div>
        </div>
        <div class="flex items-center gap-4">
          {%  render 'icon-currency' %}
          <div class="">
            <h2 class="text-lg font-medium text-[#FAF6EE]">Money Guarantee</h2>
            <p class="text-base font-normal text-[#FAF6EE]">Within 1 week for an exchange</p>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <i class="fa-solid fa-headphones"></i>
          <div class="">
            <h2 class="text-lg font-medium text-[#FAF6EE]">Online Support</h2>
            <p class="text-base font-normal text-[#FAF6EE]">24 hours a day, 7 days a week</p>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <i class="fa-regular fa-credit-card"></i>
          <div class="">
            <h2 class="text-lg font-medium text-[#FAF6EE]">Flexible Payment</h2>
            <p class="text-base font-normal text-[#FAF6EE]">Pay with Multiple Credit Cards</p>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="pt-32">
    <div class="max-w-[1600px] mx-auto">
        <div class="">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mb-24">
                <div class="">
                  <h1 class="text-[22px] font-normal -tracking-[0.88px] text-[#423328] mb-5">Company</h1>
                  <div class="">
                    <p class="text-base font-normal text-[#423328]">Find a location nearest you.</p>
                    <a href="#" class="text-base font-medium underline text-[#423328]">See Our Stores</a>
                    <div class="flex flex-col gap-1 mt-5">
                      <a href="#" class="text-[#423328] font-normal text-base hover:text-black">+391 035 2568 4593</a>
                      <a href="#" class="text-[#423328] font-normal text-base hover:text-black">hello@domain.com</a>
                    </div>
                  </div>
                </div>
                <div class="">
                  <h1 class="text-[22px] font-normal -tracking-[0.88px] text-[#423328] mb-5">Information</h1>
                </div>
                <div class="">
                  <h1 class="text-[22px] font-normal -tracking-[0.88px] text-[#423328] mb-5">Categories</h1>
                </div>
                <div class="">
                  <h1 class="text-[22px] font-normal -tracking-[0.88px] text-[#423328] mb-5">Subscribe</h1>
                  <div class="">
                    <p class="text-[#423328] font-normal text-base">Enter your email below to be the first to know about new collections and product launches.</p>
                    <form action="{{ shop.url }}/contact" method="post" class="flex mt-5">
                      <input type="email" name="email" placeholder="Your email" class="p-3 w-full text-black" required>
                      <button type="submit" class="bg-[#423328] text-[#FAF6EE] font-medium text-base uppercase py-3 px-7 hover:bg-black">
                        Subscribe
                      </button>
                    </form>
                  </div>

                </div>
            </div>

            <div class="flex justify-between items-center border-t pt-7 pb-12">
              <!-- Footer Bottom: Copyright -->
              <div class="text-center text-sm flex justify-start gap-8">
                <div class="social-cons p-1">
                  <ul class="flex items-center gap-4">
                    <li><a href="#" class=""><i class="fa-brands fa-instagram text-base"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook-f text-base"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube text-base"></i></a></li>
                  </ul>
                </div>
                <p class="text-[#423328] font-normal text-base">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. All Rights Reserved.</p>
              </div>

              <!-- Payment Logo or Default Image -->
              <div class="">
                  <img src="{% if block.settings.image != blank %}{{ block.settings.image | img_url: 'master' }}{% else %}{{ 'payment-logo.png' | asset_url }}{% endif %}" alt="Payment Logo" width="" height="">
              </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "blocks": [
      {
        "type": "image",
        "name": "Footer Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
  {% endschema %}
  