<style>
    .swiper-button-prev:after, .swiper-button-next:after {content: unset;}
    .swiper-button-next, .swiper-button-prev { width: 70px !important; height: 70px !important; }
    .swiper-button-next svg, .swiper-button-prev svg {width: 25px !important; height: 25px !important;}

</style>

<div class="swiper-container relative">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <!-- Dynamic Slide -->
        <div class="swiper-slide bg-cover bg-center h-full py-52" 
        style="background-image: url('{% if block.settings.image != blank %}{{ block.settings.image | img_url: 'master' }}{% else %}{{ 'hero-slider-img.png' | asset_url }}{% endif %}')"
        >
            <div class="max-w-[1600px] mx-auto">
                <div class="flex flex-col justify-start h-full max-w-[746px] p-4">
                <p class="text-lg md:text-xl font-generalSans font-normal text-[#FAF6EE]">{{ block.settings.subtitle }}</p>

                <h1 class="text-3xl font-gambetta md:text-[40px] lg:text-6xl xl:text-[84px] font-normal leading-[88px] -tracking-[3.36px] text-[#FAF6EE] mt-5 mb-10">{{ block.settings.title }}</h1>
                
                <div>
                    <a href="{{ block.settings.button_link }}" class="bg-[#9D744D] text-[#FAF6EE] font-medium text-base font-generalSans uppercase px-12 py-3 hover:bg-black transition">
                    {{ block.settings.button_text }}
                    </a>
                </div>
            </div>
            </div>
            
        </div>
        {% endfor %}
    </div>

    <!-- Swiper Navigation -->
    <div class="swiper-button-next w-20 h-20 bg-white rounded-full">
        {%  render 'icon-arrow-right' %}
    </div>
    <div class="swiper-button-prev w-20 h-20 bg-white rounded-full">
        {%  render 'icon-arrow-left' %}
    </div>

    <!-- Swiper Pagination -->
    {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
</div>


{% schema %}
    {
      "name": "Hero Slider",
      "settings": [],
      "blocks": [
        {
          "type": "slide",
          "name": "Slide",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Background Image"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Slide Title",
              "default":"Shop Our Latest Premium Perfumes Collection"
            },
            {
              "type": "text",
              "id": "subtitle",
              "label": "Slide Subtitle",
              "default":"Luxury Perfumes for Every Occasion"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button Text",
              "default":"Shop exclusive"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button Link"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Hero Slider",
          "category": "Custom"
        }
      ]
    }
{% endschema %}
    

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        effect: 'fade', // Optional: add fade effect
    });

    });
  
</script>
